{
    "hosts": ["unix:///var/run/docker.sock", "tcp://0.0.0.0:2376"],
    "tlscacert": "{{ docker_server_certs_path }}/ca.pem",
    "tlscert": "{{ docker_server_certs_path }}/cert.pem",
    "tlskey": "{{ docker_server_certs_path }}/key.pem",
    "tlsverify": true
}